/* Koko sivuun vaikuttavat jutut */

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, gray, white);
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* Tekstit */
h1 {
    font-size: 22px;
    text-align: center;
}

h2 {
    font-size: 15px;
}

p {
    font-size: 12px;
}

/* Topnav muotoilu */
.topnav {
  overflow: hidden;
  background-color: #2c3e50;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.topnav a {
  float: left;
  display: block;
  color: #ecf0f1;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
  transition: background-color 0.3s, color 0.3s;
}

.topnav a:hover {
  background-color: #3498db;
  color: #fff;
}

.topnav a.active {
  background-color: #e74c3c;
  color: white;
}

.topnav .icon {
  display: none;
}

/* Topnav ja footer responsiivisuus */
@media screen and (max-width: 600px) {
  .topnav a { display: none; }
  .topnav a.icon {
      float: right;
      display: block;
  }
  .topnav.responsive { position: relative; }
  .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
  }
  .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
  }
  .footercontent {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.button-container button {
    padding: 10px 15px;
}

}

/* Vasemman pinnan värinvaihto nappien container */
.button-container {
  margin: 20%;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  border: 4px dashed black;
  border-radius: 25px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  background-color: gray;
}

/* Vasemman pinnan värinvaihto napit */
.button-container button {
  margin: 5px;
  padding: 12px 25px;
  border: 4px dotted black;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.button-container button:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

/* Oikean pinnan värinvaihto nappien container */
.button-container2 {
  margin: 20%;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  border: 4px dashed black;
  border-radius: 25px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  background-color: gray;
}

/* Oikean pinnan värinvaihto napit */
.button-container2 button {
  margin: 5px;
  padding: 12px 25px;
  border: 4px dotted black;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.button-container2 button:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

/* Resetointi nappi */
.reset {
  margin: 5px;
  padding: 12px 25px;
  border: 4px dotted black;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  background-color: gray;
}

.reset:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.reset-container {
  margin: 20%;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

/* Vasemman puolisen pinnan väärinappien taustavärit */
.button-container .fiesta { background-color: #DD4132; }
.button-container .jester-red { background-color: #9E1030; }
.button-container .turmeric { background-color: #FE840E; }
.button-container .living-coral { background-color: #FF6F61; }
.button-container .pink-peacock { background-color: #C62168; }
.button-container .pepper-stem { background-color: #8D9440; }
.button-container .aspen-gold { background-color: #FFD662; }
.button-container .princess-blue { background-color: #00539C; }
.button-container .toffee { background-color: #755139; }
.button-container .mango-mojito { background-color: #D69C2F; }
.button-container .terrarium-moss { background-color: #616247; }
.button-container .sweet-lilac { background-color: #E8B5CE; }
.button-container .soybean { background-color: #D2C29D; }
.button-container .eclipse { background-color: #343148; }
.button-container .sweet-corn { background-color: #F0EAD6; }
.button-container .brown-granite { background-color: #615550; }

/* Oikean puolisen pinnan väärinappien taustavärit */
.button-container2 .fiesta { background-color: #DD4132; }
.button-container2 .jester-red { background-color: #9E1030; }
.button-container2 .turmeric { background-color: #FE840E; }
.button-container2 .living-coral { background-color: #FF6F61; }
.button-container2 .pink-peacock { background-color: #C62168; }
.button-container2 .pepper-stem { background-color: #8D9440; }
.button-container2 .aspen-gold { background-color: #FFD662; }
.button-container2 .princess-blue { background-color: #00539C; }
.button-container2 .toffee { background-color: #755139; }
.button-container2 .mango-mojito { background-color: #D69C2F; }
.button-container2 .terrarium-moss { background-color: #616247; }
.button-container2 .sweet-lilac { background-color: #E8B5CE; }
.button-container2 .soybean { background-color: #D2C29D; }
.button-container2 .eclipse { background-color: #343148; }
.button-container2 .sweet-corn { background-color: #F0EAD6; }
.button-container2 .brown-granite { background-color: #615550; }

.square-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  margin-top: 20px;
}

/* Värineliöt */
.square {
  width: 45%; 
  max-width: 300px; 
  aspect-ratio: 1 / 1; 
  background-color: white;
  transition: background-color 0.3s, transform 0.3s;
  border: 4px dotted black;
  border-right: none;
  border-radius: 25px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.square2 {
  width: 45%; 
  max-width: 300px; 
  aspect-ratio: 1 / 1;
  background-color: white;
  transition: background-color 0.3s, transform 0.3s;
  border: 4px dotted black;
  border-left: none;
  border-radius: 25px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

/* Footer */
.footer {
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  position: relative;
  left: 0;
  bottom: 0;
  margin-top: auto;
}

.footercontent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footerlinkit {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 10px;
}

.footerlinkit a {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
  font-weight: bold;
}

.footerlinkit a:hover {
  color: #3498db;
}

.footersome {
  display: flex;
  gap: 10px;
}

.footersome a {
  color: #ecf0f1;
  font-size: 20px;
  text-decoration: none;
  transition: transform 0.3s, color 0.3s;
}

.footersome a:hover {
  transform: scale(1.2);
  color: #3498db;
}

.footerbottom {
  margin-top: 10px;
  font-size: 14px;
}